.box1{
    background-color:red;
    height:200px;
    color:green;
    width: 40%;    
}
/*
form{
    position: absolute;
    top:20%;
    left: 35%;
    border:5px solid black;
    margin: 4px;
    padding: 3px;
    background-color: red;
}
label{
    margin: 3px;
    padding: 3px;
} */